body{
    background-color: #3D2F61;
}

h1{
    background-color: cornflowerblue;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px green;
}

p{
    color: rgb(0, 6, 14);
    margin: 30px 80px;
    padding: 12px;
    font-size: 120%;
}

.lista{
background-color: salmon;
color: black;
margin: 30px 80px;
padding: 12px;
border: solid 3px red;
}

.p-lista{
    color: #626263;
}

.minhas-listas{
    background-color: rgba(255, 127, 168, 0.57);
    color: #020032;
    margin: 30px 80px;
    padding: 12px;
    border: thick double #32a1ce;;
}
.link-ex{
    background-color: RGB(163, 85, 104);
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

img{
    margin: 3em;
    padding: 18px;
    border: solid 3px;
    width: 600px;
    height: 300px;
    
}

.tabela{
    background-color: #007297;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

table, th, td{
    border: solid black 5px;
    margin: 30px 80px;
    padding: 12px;
    background-color: #626263;
}

h3{
    background-color: aquamarine;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

.contato{
    background-color: rgb(101, 104, 101);
    color: #32b1f5;
    margin: 30px 80px;
    padding: 12px;
}