h1{
    background-color: cornflowerblue;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px green;
}

p{
    color: rgba(216, 9, 43, 0.589);
    margin: 30px 80px;
    padding: 12px;
}

.lista{
background-color: aquamarine;
color: black;
margin: 30px 80px;
padding: 12px;
border: solid 3px red;
}

.itens-da-lista{
    background-color: rgba(255, 127, 168, 0.57);
    color: blueviolet;
    margin: 30px 80px;
    padding: 12px;
    border: thick double #32a1ce;;
}
.link-ex{
    background-color: aquamarine;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

img{
    margin: 3em;
    padding: 20px;
    border: solid 3px;
}

.tabela{
    background-color: aquamarine;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

.table{
    border: solid black 5px;
    margin: 30px 80px;
    padding: 12px;
}

h3{
    background-color: aquamarine;
    color: black;
    margin: 30px 80px;
    padding: 12px;
    border: solid 3px red;
}

.contato{
    background-color: rgb(101, 104, 101);
    color: #32b1f5;
    margin: 30px 80px;
    padding: 12px;
}